<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Login Page</title>

  </head>
  <body>
    <ng-template #content let-modal>
      <div class="modal-header">
        <div class="modal-title" id="CreateTitle">
            <h4 *ngIf = "modalType === 'Group'">Create Group</h4>
            <h4 *ngIf = "modalType === 'User'">Update/Create User</h4>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.close('Close')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div for="createModal">
                <label *ngIf = "modalType === 'Group'" >Name of New Group:</label>
                <label *ngIf = "modalType === 'User'">Name of User:</label>
            </div>
            <div class="input-group">
              <input *ngIf = "modalType === 'Group'" class="form-control" type="text" [(ngModel)]='nGroupName' name="nGroupName">
              <input *ngIf = "modalType === 'User'" class="form-control" type="text" [(ngModel)]='nUser' name='nUser'>
            </div>
            <div for="createModal">
            <label *ngIf = "modalType === 'User'">Password of User:</label>
          </div>
          <div class="input-group">
            <input *ngIf = "modalType === 'User'" class="form-control" type="password" [(ngModel)]='nPassword' name='nPassword'>
          </div>
            <div *ngIf = "modalType === 'User'" class="btn-group btn-group-toggle">
              <div *ngFor="let group of userData.Groups">
                <label class="btn-primary" ngbButtonLabel>
                  <input type="checkbox" ngbButton [(ngModel)]="nGroups[group]" name="nGroups.group"> {{group}}
                </label>
              </div>
            </div>
            <div *ngIf = "modalType ==='User'">
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="nUserType">
                    <label ngbButtonLabel class="btn-primary">
                      <input ngbButton type="radio" value="Normie"> Normie
                    </label>
                    <label ngbButtonLabel class="btn-primary">
                      <input ngbButton type="radio" value="Group"> Group
                    </label>
                    <label ngbButtonLabel class="btn-primary">
                      <input ngbButton type="radio" value="Super"> Super
                    </label>
                </div>
                <div class="btn-group btn-group-toggle float-right">
                    <label class="btn-warning" ngbButtonLabel>
                      <input type="checkbox" ngbButton [(ngModel)]="update" name="update"> Update
                    </label>
                </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Create')">Submit</button>
      </div>
    </ng-template>

    <nav *ngIf = "username" class="navbar-default" style="margin-top: 20px; margin-bottom: 50px">
      <div class="navbar-header mx-auto" style="width: 600px">
        <img *ngIf="profile" class="border border-primary rounded-circle" src="images\{{profile}}" style="margin: 10px; width: 100px; height: 100px;">
          <div class="navbar-brand">
            <h2>{{username}}'s Dashboard</h2>
          </div>
          <button type="button" class="btn btn-default navbar-btn float-right" (click)="Logout()">Logout</button>
          <div class="form-group row">
            <div>
                <input type="file" class="form-control" (change)="onFileSelected($event)" name="uploadfile" id = "uploadfile">
            </div>
            <button class = "btn btn-primary" style="margin-right: 10px" (click) = "Upload()">Upload</button>
          </div>
      </div>
    </nav>
    <div *ngIf = "userData">
      <div *ngIf = "userData.UserType === 'Super'" class = 'mx-auto' style="width: 600px">
          <button type="button" class="btn btn-success navbar-btn float-right" (click)="CreateUser()">Create User</button>
          <input class="form-control float-right" style="width: 110px; margin-right: 5%"  type="text" [(ngModel)]='nUser' placeholder="Username" name='nUser'>
          <button type="button" class="btn btn-success navbar-btn float-right" (click)="UpdateUser()">Update User</button>
      </div>
    </div>  
      
    <div *ngIf = "userData" class="groups">
      <div *ngFor="let group of userData.Groups">
          <app-group userType = {{userData.UserType}} groupName = {{group}} ></app-group>
      </div>
      <button *ngIf ="userData.UserType !== 'Normie'" class="btn btn-primary" id="btnGroup" (click)="modalType = 'Group'; open(content)">Create Group</button>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>


</html>