<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar-default" style="margin-top: 20px">
        <div class="navbar-header mx-auto" style="width: 600px">
            <div class="navbar-brand">
              <h2>Welcome {{username}}, in {{group}}: {{channel}}</h2>
            </div>
            <button type="button" class="btn btn-grey navbar-btn float-right" (click)="Back()">Back</button>
        </div>
    </nav>   

    <ng-template #content let-modal>
        <div class="modal-header">
          <div class="modal-title" id="ChannelTitle">
            <h4 *ngIf = "type === 'Add'" >Add User</h4>
            <h4 *ngIf = "type === 'Del'" >Del User</h4>
          </div>
          <button type="button" class="close" aria-label="Close" (click)="modal.close('Close')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="NameofChannel">User Name:</label>
              <div class="input-group">
                <input class="form-control" type="text" [(ngModel)]='nUserName' name="nChannelName">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="modal.close('Create')">Submit</button>
        </div>
      </ng-template>


    <div class="container">
      <div class= "row justify-content-md-center">
        <ul class="card mx-auto" style="width: 600px; height: 400px; overflow: scroll;">
          <div *ngFor="let message of messages">{{message.text}}</div>
        </ul>
        <ul>
          <li class ="list-group-item mx-auto" style="width: 100px">Users</li>
          <li class="list-group-item mx-auto" style="width: 100px">
            <div *ngFor="let user of channelData.Users"> {{user}}</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
        <div class= "row justify-content-md-center">  
          <div class="input-group mx-auto mb-3" style="width: 600px">
              <input type="text" class="form-control" placeholder="message" [(ngModel)]="message" name='message'>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click) = 'SendMessage()'>Send</button>
              </div>
          </div>
          <div style="width: 100px"></div>
        </div>
    </div>

    <div class = "mx-auto" style="width: 700px; height: 100px">
      <button *ngIf="userType !== 'Normie'" class="btn bg-danger left-right" (click) = "DeleteChannel()">Delete Channel</button>
      
      <div>
          <button *ngIf="userType !== 'Normie'" class="btn bg-danger float-right" style="margin: 10px" (click) = "type = 'Del'; open(content, 'Del')">Remove User</button>
          <button *ngIf="userType !== 'Normie'" class="btn bg-success float-right" style="margin: 10px" (click) = "type = 'Add'; open(content, 'Add')">Add User</button>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>