<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="CreateChannelTitle">Create Channel</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.close('Close')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="NameofChannel">Channel Name:</label>
            <div class="input-group">
              <input class="form-control" type="text" [(ngModel)]='nChannelName' name="nChannelName">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Create')">Create</button>
      </div>
    </ng-template>


    
    <div *ngIf = "!deleted" class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" (click)="isCollapsed = !isCollapsed" data-target="#collapseOne">
            {{groupName}}
          </button>
           <button *ngIf="userType !== 'Normie'" class="btn bg-danger float-right" (click) = "DeleteGroup()">Delete</button>
        </h5>
      </div>
     

      <div id="collapseOne" [ngbCollapse]="!isCollapsed" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div *ngFor="let channel of groupData.Channels">
            <div style="margin-bottom: 20px">
              Channel: {{channel}}
              <button class="btn bg-success float-right" (click)="JoinChannel(channel)">Join</button>
            </div>
          </div>
          <button class="btn btn-primary float-left" (click)="open(content)">Create Channel</button>
         </div>
      </div>
    </div>        
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>


</html>


